#place-order{
  background-color:#900c3f;
  color: #fff;
  border-color: #900c3f;
  border-radius: 5px;
}
#place-order:hover {
  background-color:#900c3fde;
  color: #fff;
  border-color: #900c3f;
}
  
  .payment-method{
       
     
    border: 1px solid #900c3f;
    background-color:rgba(211, 211, 211, 0.438);
    padding: 10px;

  }
