.navbar , .social-div{
    background-color: #ccafaf !important;
}
/*  */
.black-hero {
    width: 100% !important;
}
.nav-item a {
    position: relative;
    margin-left: 10px !important;
}
  
.nav-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #900c3f;
    transition: 0.75s;
}
  
.nav-item a:hover:after {
    width: 100%;
}
  
#navy ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-link i{
    font-size: 15px;
}
.badge{
    background-color: #900c3f !important;
}